@model Graduation.Web.Models.FormStepOne 
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <select>
    @foreach (var postalcode in Model.PostalCodes)
    {
        <option>
            @postalcode.Code
        </option>
    }
    </select>
</div>