@{
    ViewData["Title"] = "Πολιτική Απορρήτου";
}

<div class="page container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10">
            <h1>@ViewData["Title"]</h1>
            
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">A. Εισαγωγή</span></span></p>
            <p class="P3">1. Το απόρρητο των επισκεπτών του ιστοτόπου μας, είναι πολύ σημαντικό για εμάς και είμαστε αφοσιωμένοι στην προστασία του. Η πολιτική μας εξηγεί πως θα χρησιμοποιήσουμε τις προσωπικές σας πληροφορίες.<br/>2. Η συναίνεση σας στη χρήση των cookies σε συμφωνία με τους όρους της πολιτικής μας κατά την πρώτη σας επίσκεψη στον ιστότοπο, μας επιτρέπει την χρήση cookies κάθε φορά που επισκέπτεστε τον ιστότοπο μας.</p>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">B. Εύσημα</span></span><span class="T2"><br/>Αυτό το έγγραφο δημιουργήθηκε με την χρήση προτύπου από την SEQ Legal (seqlegal.com) και τροποποιήθηκε από την Website Planet (</span><a href="https://www.websiteplanet.com/" class="Internet_20_link"><span class="T4">www.websiteplanet.com</span></a><span class="T2">)</span></p>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">C. Συλλογή προσωπικών πληροφοριών</span></span></p>
            <p class="P3">Οι παρακάτω τύποι προσωπικών πληροφοριών μπορούν να συλλεγούν, να αποθηκευτούν και να χρησιμοποιηθούν:</p>
            <ol>
            	<li>
            		<p class="P4" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>Πληροφορίες σχετικές με τον υπολογιστή σας μεταξύ των οποίων η διεύθυνση IP σας, η γεωγραφική σας τοποθεσία ο τύπος και η έκδοση του περιηγητή σας και το λειτουργικό σας σύστημα.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>Πληροφορίες σχετικά με τις επισκέψεις σας και τη χρήση του ιστοτόπου περιλαμβάνοντας την εξωτερική πηγή, τη διάρκεια της επίσκεψης, της προβολές σελίδων και τη διαδρομή πλοήγησης στον ιστότοπο;<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>Πληροφορίες όπως η διεύθυνση email σας, την οποία εισάγετε κατά την εγγραφή στον ιστότοπο.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">4.</span>Πληροφορίες που εισάγετε κατά τη δημιουργία του προφίλ σας στον ιστότοπο μας—για παράδειγμα, το όνομα σας, οι φωτογραφίες προφίλ, το φύλο, η ημερομηνία γέννησης, η προσωπική σας κατάσταση, τα ενδιαφέροντα και τα χόμπι σας, πληροφορίες σχετικά με την εκπαίδευση σας και πληροφορίες σχετικά με την απασχόληση σας.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">5.</span>Πληροφορίες, όπως το όνομα και το email σας, τις οποίες εισάγετε κατά την ρύθμιση των συνδρομών σας και για την αποστολή των emails και/η των ενημερωτικών δελτίων.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">6.</span>Πληροφορίες που εισάγετε κατά τη χρήση υπηρεσιών στον ιστότοπο μας.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">7.</span>Πληροφορίες που προκύπτουν κατά τη χρήση του ιστότοπου, όπως πότε, πόσο συχνά και κάτω από ποιες συνθήκες το χρησιμοποιείτε.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">8.</span>Πληροφορίες σχετικές με τις αγορές σας, τις υπηρεσίες που χρησιμοποιείτε και τις συναλλαγές που κάνετε στον ιστότοπο, οι οποίες περιλαμβάνουν το όνομα, τη διεύθυνση, τον τηλεφωνικά σας αριθμό, τη διεύθυνση του email σας και της πληροφορίες της πιστωτικής σας κάρτας.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">9.</span>Πληροφορίες που κοινοποιείτε στον ιστότοπο με την πρόθεση της δημοσίευσης στο διαδίκτυο, οι οποίες περιλαμβάνουν το όνομα χρήστη σας τις πληροφορίες προφίλ σας και το περιεχόμενο των δημοσιεύσεών σας.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">10.</span>Πληροφορίες που περιέχονται σε οποιαδήποτε επικοινωνία σας με εμάς μέσω email ή μέσω του ιστοτόπου, περιλαμβάνοντας το περιεχόμενο επικοινωνίας και τα μεταδεδομένα (metadata).<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P13" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">11.</span>Οποιαδήποτε άλλη προσωπική πληροφορία μας στέλνετε.<span class="odfLiEnd"/> </p>
            	</li>
            </ol>
            <p class="P3">Προτού αποκαλύψετε οποιαδήποτε προσωπικές πληροφορίες κάποιου τρίτου ατόμου, θα πρέπει να έχετε τη συγκατάθεση αυτού του ατόμου σχετικά με την κοινοποίηση και την επεξεργασία των προσωπικών πληροφοριών του, σύμφωνα με την παρούσα πολιτική.</p>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">D. Χρήση των προσωπικών σας πληροφοριών</span></span></p>
            <p class="P3">Οι προσωπικές πληροφορίες που υποβάλλονται σε εμάς χρησιμοποιούνται για τους σκοπούς που ορίζονται από αυτή την πολιτική στις σχετικές σελίδες του ιστοτόπου. Μπορούμε να χρησιμοποιήσουμε τις προσωπικές πληροφορίες για τους παρακάτω σκοπούς:</p>
            <ol>
            	<li>
            		<p class="P5" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>διαχείριση του ιστοτόπου και της επιχείρησης μας<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>προσωποποιημένη διαμόρφωση του ιστοτόπου για εσάς<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>ενεργοποίηση της χρήσης των διαθέσιμων υπηρεσιών σας στον ιστότοπο μας<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">4.</span>αποστολή των αγαθών που αγοράζετε μέσω του ιστοτόπου μας<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">5.</span>παροχή υπηρεσιών που αγοράζετε μέσω του ιστοτόπου μας<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">6.</span>αποστολή κινήσεων, τιμολογίων και υπενθυμίσεων πληρωμής σε εσάς, καθώς και συλλογή πληρωμών από εσάς<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">7.</span>αποστολή μη διαφημιστικών επικοινωνιών<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">8.</span>αποστολή ειδοποιήσεων μέσω email σχετικά με τα αιτήματά σας<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">9.</span>αποστολή του ενημερωτικού δελτίου μας μέσω email αν το έχετε ζητήσει (μπορείτε να μας ενημερώσετε ανά πάσα στιγμή αν πλέον δεν επιθυμείτε το ενημερωτικό δελτίο)<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">10.</span>αποστολή διαφημιστικών επικοινωνιών, σχετικών με την επιχείρηση σας ή τις επιχειρήσεις συγκεκριμένων τρίτων μερών οι οποίες πιστεύουμε ότι μπορεί να σας ενδιαφέρουν, μέσω κοινοποιήσεων ή, αν έχετε συμφωνήσει σε αυτό, μέσω by email ή παρόμοιας τεχνολογίας (μπορείτε να μας ενημερώσετε ανά πάσα στιγμή αν πλέον δεν επιθυμείτε διαφημιστικές επικοινωνίες)<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">11.</span>παροχή στατιστικών δεδομένων των χρηστών μας σε τρίτα μέρη (τα οποία δεν θα είναι σε θέση να ταυτοποιήσουν κανένα χρήστη από αυτές τις πληροφορίες)<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">12.</span>διαχείριση αιτημάτων και παραπόνων που υποβάλατε οι ίδιοι ή σχετίζονται με τον ιστότοπο σας<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">13.</span>διατήρηση της ασφάλειας του ιστοτόπου και πρόληψη κατά οποιασδήποτε απάτης<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">14.</span>επιβεβαίωση της συμμόρφωσης με τους όρους και προϋποθέσεις παροχής του ιστοτόπου μας (περιλαμβάνοντας και τη επιτήρηση προσωπικών μηνυμάτων που διακινούνται μέσω της ιδιωτικής διαδικτυακής υπηρεσίας μηνυμάτων μας) και<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P14" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">15.</span>άλλες χρήσεις.<span class="odfLiEnd"/> </p>
            	</li>
            </ol>
            <p class="P3">Αν υποβάλλετε προσωπικές πληροφορίες προς δημοσίευση στον ιστότοπο μας, θα δημοσιεύσουμε ή θα χρησιμοποιήσουμε αυτές τις πληροφορίες σε συμφωνία με την αδειοδότηση σας.</p>
            <p class="P3">Οι ρυθμίσεις απορρήτου σας μπορούν να χρησιμοποιηθούν για να περιορίσουν τη δημοσίευση των πληροφοριών σας στον ιστότοπο μας και μπορούν να διαμορφωθούν χρησιμοποιώντας τον έλεγχο απορρήτου στον ιστότοπο.</p>
            <p class="P3">Δεν θα διοχετεύσουμε τις προσωπικές σας πληροφορίες χωρίς τη συναίνεση σας σε κανένα τρίτο μέρος ή σε οποιαδήποτε εμπορικό τμήμα τρίτου μέρους.</p>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">E. Κοινοποίηση προσωπικών πληροφοριών</span></span></p>
            <p class="P3">Μπορούμε να κοινοποιήσουμε τις προσωπικές σας πληροφορίες σε οποιονδήποτε από τους υπαλλήλους μας, τα στελέχη, τους ασφαλιστές, ή τους επαγγελματικούς συμβούλους, τους εκπροσώπους τους προμηθευτές ή τους υπεργολάβους μας όπως απαιτείται για τους σκοπούς που αναφέρει η παρούσα πολιτική.</p>
            <p class="P3">Μπορούμε να κοινοποιήσουμε τις προσωπικές σας πληροφορίες σε οποιοδήποτε μέλος του ομίλου εταιρειών μας (αυτό σημαίνει τις θυγατρικές μας εταιρείες, την ελέγχου εταιρεία του χαρτοφυλακίου μας και τις θυγατρικές της) όπως απαιτείται για τους σκοπούς που αναφέρει η παρούσα πολιτική.</p>
            <p class="P3">Μπορούμε να κοινοποιήσουμε τις προσωπικές μας πληροφορίες:</p>
            <ol>
            	<li>
            		<p class="P6" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>στο μέτρο που απαιτείται βάσει νόμου<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P15" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>σε σχέση με οποιαδήποτε τρέχουσα ή μελλοντική νομική διαδικασία<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P15" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>με σκοπό την εδραίωση, άσκηση ή υπεράσπιση των νομίμων δικαιωμάτων μας (μεταξύ των οποίων η παροχή πληροφοριών σε τρίτους με σκοπό την πρόληψη απάτης και την ελάττωση του πιστωτικού κινδύνου)<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P15" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">4.</span>στον αγοραστή (ή πιθανού αγοραστή) οποιουδήποτε αγαθού της επιχείρισης το οποίο πουλάμε (ή σκεφτόμαστε να πουλήσουμε) και<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P15" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">5.</span>σε οποιονδήποτε βάσιμα πιστεύουμε ότι μπορεί να ανήκει στην δικαστική η οποιοδήποτε άλλη αρμόδια αρχή σχετικά με την κοινοποίηση πληροφοριών στην περίπτωση που θεωρούμε ότι η αντίστοιχη αρχή θα απαιτήσει την κοινοποίηση των συγκεκριμένων προσωπικών πληροφοριών.<span class="odfLiEnd"/> </p>
            	</li>
            </ol>
            <p class="P3">Επίσης όπως αναφέρεται στην παρούσα πολιτική, δεν θα παρέχουμε τις προσωπικές σας πληροφορίες σε τρίτα μέρα.</p>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">F. Διεθνείς μεταφορές δεδομένων</span></span></p>
            <ol>
            	<li>
            		<p class="P7" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>Οι πληροφορίες που συλλέγουμε μπορεί να αποθηκευτούν να επεξεργαστούν και να μετακινηθούν μεταξύ οποιωνδήποτε χωρών στις οποίες λειτουργούμε έτσι ώστε να μπορούμε να χρησιμοποιήσουμε σύμφωνα με την παρούσα πολιτική.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P16" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>Οι πληροφορίες που συλλέγουμε μπορούν να μεταφερθούν στις ακόλουθες χώρες που δεν διαθέτουν αντίστοιχη νομοθεσία προστασίας προσωπικών δεδομένων με αυτή που εφαρμόζεται στην Ευρωπαϊκή Οικονομική Περιοχή: οι ΗΠΑ, η Ρωσία η Ιαπωνία η Κίνα και η Ινδία.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P16" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>Οι προσωπικές πληροφορίες που δημοσιεύετε στον ιστότοπο μας ή υποβάλλετε προς δημοσίευση στον ιστότοπο μας, δύνανται είναι διαθέσιμες μέσω διαδικτύου σε όλο τον κόσμο. Δεν μπορούμε να αποτρέψουμε τη χρήση ή τη λανθασμένη χρήση τέτοιων πληροφοριών από τρίτους.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P16" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">4.</span>Συμφωνείτε ρητά στη μεταφορά των προσωρινών δεδομένων η οποία περιγράφεται στην ενότητα F.<span class="odfLiEnd"/> </p>
            	</li>
            </ol>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">G. Διατήρηση προσωπικών δεδομένων</span></span></p>
            <ol>
            	<li>
            		<p class="P8" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>Η Ενότητα G ορίζει την διαδικασία και την πολιτική διατήρησης προσωπικών δεδομένων, που έχει σχεδιαστεί για να διασφαλίζει τη συμμόρφωση με τις νομικές μας υποχρεώσεις σχετικά με τη διατήρηση και τη διαγραφή των προσωπικών δεδομένων.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P17" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>Προσωπικά δεδομένα που επεξεργαζόμαστε για οποιοδήποτε σκοπό δεν θα διατηρούνται για περισσότερο από όσο διάστημα είναι απαραίτητο για αυτό το σκοπό.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P17" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>Χωρίς προκατάληψη στο άρθρο G-2, συνήθως διαγράφουμε προσωπικά δεδομένα που εμπίπτουν στην παρακάτω κατηγορίες και την αντίστοιχη ημερομηνία/ώρα<span class="odfLiEnd"/> </p>
            		<ol>
            			<li>
            				<ol>
            					<li>
            						<ol>
            							<li>
            								<p class="P8" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>προσωπικά δεδομένα τύπου θα διαγράφονται {ΕΙΣΑΓΕΤΕ ΗΜΕΡΟΜΗΝΙΑ/ΩΡΑ} και<span class="odfLiEnd"/> </p>
            							</li>
            							<li>
            								<p class="P17" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>{ΕΙΣΑΓΕΤΕ ΕΠΙΠΛΕΟΝ ΗΜΕΡΟΜΗΝΙΑ/ΩΡΑ}.<span class="odfLiEnd"/> </p>
            							</li>
            						</ol>
            					</li>
            				</ol>
            			</li>
            		</ol>
            	</li>
            	<li>
            		<p class="P17" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">4.</span>Παρά τις υπόλοιπες διατάξεις που προβλέπει η Ενότητα G, θα διατηρήσουμε έγγραφα (μεταξύ των οποίων και ηλεκτρονικά έγγραφα) που περιέχουν προσωπικά δεδομένα<span class="odfLiEnd"/> </p>
            		<ol>
            			<li>
            				<ol>
            					<li>
            						<ol>
            							<li>
            								<p class="P8" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>στο βαθμό που απαιτείται από το νόμο.<span class="odfLiEnd"/> </p>
            							</li>
            							<li>
            								<p class="P17" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>αν θεωρούμε ότι τα έγγραφα μπορεί να σχετίζονται με οποιαδήποτε νομική διαδικασία σε ισχύ και<span class="odfLiEnd"/> </p>
            							</li>
            							<li>
            								<p class="P17" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>με σκοπό την εδραίωση, άσκηση ή υπεράσπιση των νομίμων δικαιωμάτων μας (μεταξύ των οποίων η παροχή πληροφοριών σε τρίτους με σκοπό την πρόληψη απάτης και την ελάττωση του πιστωτικού κινδύνου)<span class="odfLiEnd"/> </p>
            							</li>
            						</ol>
            					</li>
            				</ol>
            			</li>
            		</ol>
            	</li>
            </ol>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">H. Ασφάλεια των προσωπικών δεδομένων σας</span></span></p>
            <ol>
            	<li>
            		<p class="P9" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>Θα λάβουμε τις απαιτούμενες προφυλάξεις σε τεχνικό και οργανωτικό επίπεδο για να αποτρέψουμε την απώλεια, την κακή χρήση η την αλλοίωση των προσωπικών σας δεδομένων.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P18" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>Θα αποθηκεύσουμε όλα τα προσωπικά δεδομένα που παρέχετε στους ασφαλείς (προστατευμένους με κωδικό- και τείχος προστασίας) διακομιστές.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P18" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>Όλες οι ηλεκτρονικές χρηματικές συναλλαγές που διενεργούνται στον ιστότοπο μας προστατεύονται από την τεχνολογία κρυπτογράφησης μας.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P18" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">4.</span>Αποδέχεστε ότι η μετάδοση πληροφοριών στο διαδίκτυο είναι εγγενώς μη ασφαλής και δεν μπορούμε να εγγυηθούμε την ασφάλεια των δεδομένων που διακινούνται μέσω διαδικτύου.<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P18" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">5.</span>Είστε υπεύθυνοι να διατηρήσετε εμπιστευτικό τον κωδικού που χρησιμοποιείτε, δεν θα σας ζητήσουμε τον κωδικό σας (παρά μόνο όταν συνδέεστε στον ιστότοπο μας).<span class="odfLiEnd"/> </p>
            	</li>
            </ol>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">I. Τροποποιήσεις</span></span></p>
            <p class="P3">Μπορεί να ενημερώνουμε την πολιτικής μας κατά καιρούς δημοσιεύοντας μία νέα έκδοση στον ιστότοπο μας κατά καιρούς. Θα πρέπει περιστασιακά να ελέγχετε τη σελίδα ώστε να σιγουρευτείτε ότι κατανοείτε οποιαδήποτε αλλαγή στην πολιτική μας. Μπορεί να σας ενημερώσουμε για αλλαγές στην πολιτική μας μέσω email ή μέσω ιδιωτικού συστήματος ανταλλαγής μηνυμάτων στον ιστότοπο μας.</p>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">J. Τα δικαιώματα σας</span></span></p>
            <p class="P3">Μπορείτε να μας ζητήσετε να σας δώσουμε, οποιαδήποτε πληροφορία σας διατηρούμε; η παροχή τέτοιων πληροφοριών υπόκειται στα παρακάτω:</p>
            <ol>
            	<li>
            		<p class="P10" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>την πληρωμή τέλους {ΕΙΣΑΓΕΤΕ ΤΕΛΟΣ ΑΝ ΥΠΑΡΧΕΙ}; και<span class="odfLiEnd"/> </p>
            	</li>
            	<li>
            		<p class="P19" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>την παροχή επαρκών στοιχείων ταυτοποίησης σας ({ΑΛΛΑΞΤΕ ΤΟ ΚΕΙΜΕΝΟ ΩΣΤΕ ΝΑ ΑΝΑΦΕΡΕΙ ΤΗΝ ΠΟΛΙΤΙΚΗ ΣΑΣ για αυτό το σκοπό, συνήθως δεχόμαστε θεωρημένη φωτοτυπία διαβατηρίου από συμβολαιογράφο και μία φωτοτυπία λογαριασμού υπηρεσίας κοινής ωφέλειας που εμφανίζει την τρέχουσα διεύθυνση σας}).<span class="odfLiEnd"/> </p>
            	</li>
            </ol>
            <p class="P3">Μπορούμε να παρακρατήσουμε τις προσωπικές πληροφορίες που ζητάτε, για την επιτρεπόμενη από το νόμο περίοδο.</p>
            <p class="P3">Μπορείτε να μας ζητήσετε ανά πάσα στιγμή να μην επεξεργαζόμαστε τις προσωπικές σας πληροφορίες για διαφημιστικούς σκοπούς.</p>
            <p class="P3">Στην πράξη, συνήθως είτε θα αποδέχεστε ρητά εκ των προτέρων την χρήση των προσωπικών σας πληροφοριών για διαφημιστικούς σκοπούς, είτε θα σας παρέχουμε τη δυνατότητα να εξαιρέσετε τις πληροφορίες σας από τη χρήση για διαφημιστικούς σκοπούς.</p>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">K. Τρίτοι ιστότοποι</span></span></p>
            <p class="P3">Ο ιστότοπος μας περιλαμβάνει υπερσυνδέσμους σε, και πληροφορίες από, τρίτους ιστότοπους. Δεν μπορούμε να ελέγξουμε και δεν φέρουμε ευθύνη για τις πολιτικές προστασίας και της πρακτικές τρίτων μερών.</p>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">L. Ενημέρωση πληροφοριών</span></span></p>
            <p class="P3">Παρακαλώ ενημερώστε μας αν οι πληροφορίες που έχουμε για εσάς χρειάζονται ενημέρωση ή διόρθωση.</p>
            <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">M. Cookies</span></span></p>
            <p class="P3">Ο ιστότοπος μας χρησιμοποιεί cookies. Ένα cookie είναι ένα αρχείο που περιέχει ένα αναγνωριστικό (μία σειρά γραμμάτων και αριθμών) που αποστέλλεται μέσω ενός διακομιστή και αποθηκεύεται στον περιηγητή. Το αναγνωριστικό κατόπιν αποστέλλεται πίσω στο διακομιστή κάθε φορά που ο περιηγητής ζητά μία σελίδα από το διακομιστή. Τα cookies μπορεί να είναι είτε “μόνιμα” ή cookies “σύνδεσης”: ένα μόνιμο cookie αποθηκεύεται σε έναν περιηγητή και παραμένει σε ισχύ μέχρι την ημερομηνία λήξης του, εκτός αν διαγραφεί νωρίτερα από το χρήστη, ένα cookie σύνδεσης, από την άλλη, θα λήξει με το τέλος της σύνδεσης του χρήστη, όταν κλείσει ο περιηγητής. Τα cookies συνήθως δεν περιέχουν πληροφορίες που μπορούν να ταυτοποιήσουν το χρήστη αλλά τα προσωπικά δεδομένα σας που διατηρούμε μπορεί να συνδέονται με δεδομένα που αποθηκεύονται ή ανακτώνται από cookies. {ΕΠΙΛΕΞΤΕ ΚΑΤΑΛΛΗΛΗ ΔΙΑΤΥΠΩΣΗ Χρησιμοποιούμε μόνο cookies σύνδεσης/ μόνο μόνιμα cookies / cookies σύνδεσης και μόνιμα στον ιστότοπο μας.}</p>
            <ol>
            	<li>
            		<p class="P11" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>Τα ονόματα των cookies που χρησιμοποιούμε στον ιστότοπο μας και ο σκοπός χρήσης τους ορίζεται παρακάτω:<span class="odfLiEnd"/> </p>
            		<ol>
            			<li>
            				<p class="P11" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>χρησιμοποιούμε στον ιστότοπο μας Google Analytics και Adwords για να αναγνωρίζουμε έναν υπολογιστή όταν ένας χρήστης {ΣΥΜΠΕΡΙΛΑΒΕΤΕ ΟΛΕΣ ΤΙΣ ΧΡΗΣΕΙΣ ΤΩΝ COOKIES ΣΤΟΝ ΙΣΤΟΤΟΠΟ ΣΑΣ επισκέπτεται τον ιστότοπο / να εντοπίσουμε τους χρήστες κατά την πλοήγηση στον ιστότοπο / να επιτρέψουμε τη χρήση καλαθιού αγορών στον ιστότοπο / να βελτιώσουμε τη λειτουργικότητα του ιστοτόπου / να αναλύσουμε τη χρήση του ιστοτόπου / να διαχειριστούμε τον ιστότοπο / να προστατευτείτε από απάτη και να βελτιώσετε την προστασία του ιστοτόπου / να προσωποποιήσουμε τον ιστότοπο για κάθε χρήστη / να στοχεύσουμε διαφημίσεις που μπορεί να ενδιαφέρουν συγκεκριμένους χρήστες / περιγράψτε τους σκοπούς};<span class="odfLiEnd"/> </p>
            			</li>
            		</ol>
            	</li>
            	<li>
            		<p class="P20" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>Οι περισσότεροι περιηγητές σας επιτρέπουν να μη δεχτείτε cookies—για παράδειγμα:<span class="odfLiEnd"/> </p>
            		<ol>
            			<li>
            				<p class="P11" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span>στον Internet Explorer (version 10) μπορείτε να αποκλείσετε τα cookies χρησιμοποιώντας τις ρυθμίσεις για cookie που βρίσκονται πατώντας “Εργαλεία”, “Επιλογές Internet”, “Απόρρητο” και “Για Προχωρημένους”<span class="odfLiEnd"/> </p>
            			</li>
            			<li>
            				<p class="P20" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>στο Firefox (version 24) μπορείτε να αποκλείσετε όλα τα cookies πατώντας “Εργαλεία,” “Επιλογές,” “Απόρρητο,” επιλέγοντας “Χρήση προσαρμοσμένων ρυθμίσεων για το ιστορικό” από το μενού και αφαιρώντας την επιλογή “Αποδοχή cookies από ιστοτόπους”; και<span class="odfLiEnd"/> </p>
            			</li>
            			<li>
            				<p class="P20" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>στο Chrome (version 29), μπορείτε να αποκλείσετε όλα τα cookies αν μπείτε στο μενού “Προσαρμογή και έλεγχος” και πατώντας “Ρυθμίσεις”, “Προβολή σύνθετων ρυθμίσεων”, και “Ρυθμίσεις περιεχομένου” και επιλέγοντας “Αποκλεισμός ιστοτόπων από δεδομένα” κάτω από την επικεφαλίδα “Cookies”.<span class="odfLiEnd"/> </p>
            			</li>
            		</ol>
            	</li>
            </ol>
            <p class="P3">Ο αποκλεισμός όλων των cookies θα έχει αρνητική επίδραση στη λειτουργικότητα πολλών ιστοτόπων. Αν αποκλείσετε τα cookies, δεν θα μπορείτε να χρησιμοποιήσετε όλες τις λειτουργίες του ιστοτόπου σας.</p>
            <ol>
            	<li>
            		<p class="P12" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>Μπορείτε να διαγράψετε cookies ήδη αποθηκευμένα στον υπολογιστή σας—για παράδειγμα:<span class="odfLiEnd"/> </p>
            		<ol>
            			<li>
            				<p class="P2" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">1.</span><span class="T2">στον Internet Explorer (version 10), θα πρέπει να διαγράψετε χειροκίνητα τα αρχεία των cookie (μπορείτε να βρείτε οδηγίες στο</span><a href="http://support.microsoft.com/kb/278835" class="Internet_20_link"><span class="T4"> http://support.microsoft.com/kb/278835</span></a><span class="T2"> );</span><span class="odfLiEnd"/> </p>
            			</li>
            			<li>
            				<p class="P21" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">2.</span>στο Firefox (version 24), μπορείτε να διαγράψετε τα cookies πατώντας “Εργαλεία,” “Επιλογές,” και “Απόρρητο”, μετά επιλέγοντας “Χρήση προσαρμοσμένων ρυθμίσεων για το ιστορικό”, πατώντας “Προβολή Cookies,” και “Αφαίρεση Όλων των Cookies” και<span class="odfLiEnd"/> </p>
            			</li>
            			<li>
            				<p class="P21" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">3.</span>στο Chrome (version 29), μπορείτε να διαγράψετε όλα τα cookies μπαίνοντας στο μενού “Προσαρμογή και έλεγχος”, και πατώντας “Ρυθμίσεις”, “Προβολή Προσαρμοσμένων ρυθμίσεων” και “Εκκαθάριση δεδομένων περιήγησης” και κατόπιν επιλέγοντας “Διαγραφή cookies και άλλων δεδομένων ιστοτόπου” προτού πατήσετε “Εκκαθάριση δεδομένων περιήγησης”.<span class="odfLiEnd"/> </p>
            			</li>
            		</ol>
            	</li>
            	<li>
            		<p class="P21" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:NaNcm;">4.</span>Η διαγραφή όλων των cookies θα έχει αρνητική επίδραση στη λειτουργικότητα πολλών ιστοτόπων.<span class="odfLiEnd"/> </p>
            	</li>
            </ol>
            <p class="P1"><span class="Emphasis"><span class="T3">Η Website Planet δε φέρει ευθύνη και σας συμβουλεύει να συμβουλευτείτε εξειδικευμένης νομικούς αν χρησιμοποιήσετε το παραπάνω υπόδειγμα στον ιστότοπο σας.</span></span></p>
            <p class="Standard"> </p>
            
        </div>
    </div>
</div>