<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Graduation.Web</title>
    <link rel="stylesheet" href="~/css/index.css"/>
</head>
<body>
<partial name="_CookieConsentPartial" />

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="site-logo" src="~/logo.png">Graduation</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Αρχική</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Form" asp-action="Index">Συμπληρώστε την φόρμα</a>
                    </li>
                </ul>
                
                <div class="navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial"/>
                </div>
                
            </div>
            
        </div>
    </nav>
</header>

@RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.UtcNow.Year - Graduation.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Πολιτική απορρήτου</a>
    </div>
</footer>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="~/js/system.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

<script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "0A0oJ0qa5A");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>

</body>
</html>